@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html {
  font-family: 'Alata', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(./images/desktop/image-hero.jpg);
  height: 600px;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
}

a:hover {
  border-bottom: 2px solid #fff;
}

#interactive {
  overflow: none;
  margin-top: 150px;
}

.card {
  z-index: 1;
  margin-top: 150px;
  font-family: 'Josefin Sans', sans-serif;
}

.cards:hover {
  cursor: pointer;
  opacity: 0.6;
}

#creations {
  margin-top: 150px;
}

#seeCreations {
  width: 150px;
  height: 50px;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 4rem;
  text-align: left;
}

footer {
  background-color: #000;
  height: 200px;
  margin-top: 100px;
  padding-top: 50px;
}

.row-1 a {
  margin: 15px;
  padding-bottom: 5px;
  display: inline-block;
  justify-content: right;
}

.row-2 {
  margin-top: 20px;
}

.row-2 a {
  display: inline-flex;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}

.row-2 p {
  color: #fff;
  text-align: right;
}
